body {
  background-image: url('/public/assets/typewriter_wallpaper(1920x1080).jpg');
  background-repeat: repeat-x;
  background-color: #337983;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}

.card {
  border-radius: 10px;
  background-color: ghostwhite;
  border: 2px solid black;
  margin: 5px;
  padding: 2px;
  width: 350px;
  height: 200px;
  text-align: left;
}

.front {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 2em;
}
.description h5 {
  border-bottom: 2px solid lightblue;
}
.description p {
  padding: 0 3px;
  line-height: 1.05em;
  position: relative;
  top: -160px;
}
.line {
  position: relative;
  top: -8px;
  margin-bottom: 0px;
}
.cardContainer {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
}

.edit {
  position: absolute;
  top: 0;
  left: 315px;
}

.practice,
.viewall {
  margin-bottom: 5%;
}

.header {
  background-color: #000000e0;
  padding-bottom: 1px;
  opacity: .93;
}

.header h1 {
  color: steelblue;
}

.navigationBar {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1%;
}

.navigationItem button {
  border: lightgrey solid 1px;
  background: transparent;
  color: steelblue;
}
.navigationItem {
  align-self: center;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  /* default sizing looks to line up in mobile */
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000e0;
  -webkit-transition: .4s;
  transition: .4s;
}
.lightdarkToggle{
  align-self:center;
  color:#fff;
  /* border: lightgrey solid 1px; */
  background: transparent;
}
.lightdarkToggle h2 {
  background-image:url('/public/assets/moon.png');
  background-size:contain;
  height:25px;
  width:25px;
  margin-left:14px;
}
/* default/dark toggle */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: ghostwhite;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: lightgrey;
}
input:focus + .slider {
  box-shadow: 0 0 1px lightgrey;
}
/* toggled to light mode */
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.footer {
  position: fixed;
  display: flex;
  bottom: 0%;
  width: 100%;
  justify-content: space-between;
  background-color: #000000e0;
  color: lightgrey;
  height: 7%;
  /* height: fit-content this could be useful post mobile responseiveness */
}

.acknowledgement {
  margin-left: 3%;
}

.acknowledgement ul {
  columns: 2;
}

.gettingInvolved {
  margin-right: 3%;
}

.aboutUs {
  width: 50%;
  float: right;
  padding-top: 2%;
  padding-right:1%;
  font-weight:bold;
  margin-bottom: 5%;
}
